<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @computer.name %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @computer.owner %>
</p>

<p>
  <strong>Type:</strong>
  <%= @computer.type %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @computer.manufacturer %>
</p>

<%= link_to 'Edit', edit_computer_path(@computer) %> |
<%= link_to 'Back', computers_path %>
